.hero {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.topnav {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 0 20px;
  backdrop-filter: blur(10px) saturate(40%);
  background-color: salmon;
  border-radius: 15px;

}

.topnav .menu {
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.topnav .menu a {
  text-decoration: none;
  font-weight: 500;
  padding: 8px 10px;
  border-radius: 10px;
  transition: background-color 120ms ease, transform 80ms ease;
}

.colormenu {
  color:black;
  text-decoration: none;

}
.colormenu:hover {
  color:white;
  letter-spacing: 3px;
  box-shadow: 10px 10px 10px black;
}


h2 {
    margin: 5%;
  font-family: "Edu VIC WA NT Hand Pre", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  
}

.tars {
    display: flex;
    flex-direction:row;
    gap: 5%;
    margin: 5%

}

.tar1 {
    background-color: red;
    width: 20%;
    height: 30%;
    display: block;
    color: white;
    text-align: center;
    transition: linear 1.5s;

}
.tar1:hover {
    transition: linear 1.5s;
    transform: scale3d(1.3, 1.3, 1);
}

.tar2 {
    background-color: blue;
    width: 20%;
    height: 20%;
    display: block;
    color: white;
    text-align: center;
    transition: ease-in 1s;

}
.tar2:hover {
    transition: ease 0.8s;
    box-shadow: 0px 10px 18px rgba(133, 29, 165, 0.8);

}

.tar3 {
    background-color: green;
    width: 20%;
    height: 20%;
    display: block;
    color: white;
    text-align: center;
    transition: ease-out 1.5s;

}
.tar3:hover {
    background-color: yellowgreen;
    color: black;
    transition: ease-in-out 0.8s;
}

.foto {
  width: 35%;
  height: 35%;
  transition: transform 2s ease-in-out 0.4s;

}

.foto:hover {
  
  transition: transform 1.8s ease-in-out 0.1s;
  transform: translateX(70%) translateY(50%);

}

@media (min-width: 768px) {
  body {
    margin: 0%;
  }
  .topnav {
    max-width: 1264px;
    margin: auto;
    text-align: center;
  }
}


/* === Adaptación móvil === */
@media (max-width: 768px) {
  body {
    margin: 2%;
  }

